 .projectBox{
  border-radius: 25px;
  border: 2px solid #DB4C2C;
  padding: 20px;
  width: 200px;
  height: 150px;
  padding-top:0px;
  float: left;
  margin:20px;
}

a{
	   text-decoration: none;
	   color:black;
	 
 }
 
 #title_project {
 overflow: hidden;
 text-align: center;
}
#title_project:before,
#title_project:after {
 background-color: #DB4C2C;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
#title_project:before {
 right: 0.5em;
 margin-left: -50%;
}
#title_project:after {
 left: 0.5em;
 margin-right: -50%;
}
